<table style="width:100%">
	<thead>
        <tr>
                <td>
                Image
                </td>
                <td>
                Name
                </td>
                <td>
		Text
                </td>
                <td>
                Ran Amount
                </td>
                <td>
                Amount Left
                </td>
                <td>
                Meta Data
                </td>
                <td>
                Manage
                </td>
        </tr>
	</thead>
	<% if not @coupons.nil? %>
        <% @coupons.each do |coupon| %>
        <tr>
        <td>
        <!--<%= image_tag coupon.picture.url %>-->
        <%= image_tag coupon.picture.url(:medium) %>
        <!--<%= image_tag coupon.picture.url(:thumb) %>-->
        <br>
        <td>
        <%= coupon.name %>
        </td>
        <td>
        <%= coupon.description %>
        </td>
        <td>
        <%= coupon.limit %>
        </td>
        <td>
        <%= coupon.limit %>
        </td>
        <td>
        <%= coupon.meta_data %>
        </td>
        <td>

        <%= link_to "Delete",coupon_path(coupon.id) , :method => :delete, :confirm => "Are you sure you want ot delete?" %>
        </td>
        </tr>

        <% end %>
	<% else %>
	You dont have any coupons yet!
	<% end %>
</table>

<%= link_to "New Coupon", company_coupon_path(current_company, "new") %>


