<% if @purpose == "xml" %>
	<company>
		<id><%= @company.id %></id>
		<name><%= @company.name %></name>
	</company>
	<coupon>
		<id><%= @coupon.id %></id>
	</coupon>
<% else %>
	<h2><%= @company.name %></h2>
	<h3><%= @coupon.id %></h3>
	<!-- Put other stuff in here -->
<% end %>
