<div id="publisher_error"></div>
<%= render "shared/error_flash" %>
<%= form_for("publisher", :url => publisher_registration_path,:remote => true) do |f| %>
<%= f.text_field :name, :placeholder=>"company name" %><br>
  <%= f.text_field :email, :placeholder=>"email" %><br>
  <%= f.password_field :password, :placeholder=>'password' %><br>

  <%= f.password_field :password_confirmation, :placeholder=>'password confirmation' %><br>
  <%= f.submit 'Sign Up', :class=>'btn btn-large btn-primary', :style=>"width:15em" %><br>
<% end %>
