<!-- Publisher show page -->
<div class="row">
	<div class="span4">
		<h1>Welcome, <%= current_publisher.name.capitalize %>!</h1>
	</div>
    <div class="span4 offset4" style="text-align:right">
<%= link_to "Add a Game", publisher_game_path(current_publisher, "new"), :class=>"btn btn-success btn-large"%>
	</div>
</div>

<hr>
<table style="width:100%; text-align:center">
	<tbody>
		<tr>
			<td style="width:33%">
<div class="games-previews">
	<h2>
		<%= link_to "Total Games", publisher_games_path(current_publisher) %>
	</h2>
	<h1>
		<%= @games_count %>
	</h1>
</div>
			</td>
			<td style="width:33%">
<div class="impressions-previews">
	<h2>
		<%= link_to "Total Impressions", publisher_games_path(current_publisher) %>
	</h2>
	<h1>
		<%= number_with_precision @im_count, :precision =>0 %>
	</h1>
</div>
			</td>
			<td style="width:33%">
<div class="earnings-previews">
	<h2>
		<%= link_to "Total Earnings", publisher_games_path(current_publisher) %>
	</h2>
	<h1>
		<%= number_to_currency @earnings_count %>
	</h1>
</div>
			</td>
		</tr>
	</tbody>
</table>

