<!--Company's Home page tab -->
	<div id="myCompanySignUpModal" class="modal hide fade">
		<div class="modal-header">
			<a class="close" data-dismiss="modal" >&times;</a>
			<h3>For brands and publishers</h3>
		</div>

		<div class="modal-body">
			<table style="text-align:center;width:100%">
				<thead>
					<tr>
						<th>
					<h3>
					Sign In
					</h3>
						</th>
						<th>
					<h3>
					Sign Up
					</h3>
						</th>
					</tr>
				</thead>	

				<tbody>
					<tr>
						<% if company_signed_in? %>
							<%= link_to "Go To Dashboard", current_company, :class=>"btn btn-large btn-success" %><br><br>
							<%= link_to "Logout", destroy_company_session_path, :method => :delete, :class=>"btn btn-large btn-success" %>

						<% else %>
							<td style="padding-top:2em; padding-bottom:2em; border-right:1px solid #C8C8C8">
								<%= alert %>
								<%= render 'companies/sign_in_form' %>
							</td>
							<td style="text-align:center">
								<div id ="company_error"></div>
								<% if flash[:notice] %>
									<p class="notice"><%= flash[:notice] %></p>
								<% end %>
								<% if flash[:error] %>
										<p class="error"><%= flash[:error] %></p>
								<% end %>
								<%= form_for "company", :url => company_registration_path,:remote => true do |f| %>
									<%= f.text_field :name, :placeholder=>"company name" %><br>
									<%= f.text_field :email, :placeholder=>"email" %><br>
									<%= f.password_field :password, :placeholder=>'password' %><br>
									<%= f.password_field :password_confirmation, :placeholder=>'password confirmation' %><br>
									<%= f.submit 'Sign Up', :class=>'btn btn-large btn-success', :style=>"width:15em" %><br>
								<% end %>
							</td>
						<% end %>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
