    			<p></p>
			<table style="">
				<tbody>
					<tr>
						<td style="padding-left:15em; padding-right:12.5em; padding-top:5em; padding-bottom:5em; border-right:1px solid #C8C8C8">
<%= form_for("company", :url => company_session_path) do |f| %>
  <%= f.text_field :email %><br>
  <%= f.password_field :password %><br>
  <p><%= f.check_box :remember_me %> Remember me </p>
  <%= f.submit 'Sign in', :class=>'btn btn-large btn-primary', :style=>"width:15em" %><br>
  <%= link_to "Forgot your password?", new_password_path('company') %>
<% end %>
						</td>
						<td style="padding-left:12.5em;width:15em; text-align:center"><p><h3>Distribute your advertising and product inventory.</h3></p>
						<%= render "companies/sign_up" %>
						<a data-toggle="modal" href="#myCompanySignUpModal" class="btn btn-large btn-primary" style="width:15em">Sign up</a></td>
					</tr>
				</tbody>
			</table>

