 <div id ="company_error"></div>
<%= render "shared/error_flash" %>
 <%= form_for "company", :url => company_registration_path,:remote => true do |f| %>
	<%= render "shared/error_messages",:object => @company %>
  <%= f.text_field :name, :placeholder=>"company name" %><br>
  <%= f.text_field :email, :placeholder=>"email" %><br>
  <%= f.password_field :password, :placeholder=>'password' %><br>
  <%= f.password_field :password_confirmation, :placeholder=>'password confirmation' %><br>
  <%= f.submit 'Sign Up', :class=>'btn btn-large btn-success', :style=>"width:15em" %><br>
<% end %>
