<!-- Company show page -->
<h1><%= current_company.name %></h1>

<div class="ads-previews">
  <h2>Ads</h2>
	<%= render "ads/previews", :ads => @ads %>
	<% if @correct_company %>
      <%= link_to "Ad List", company_ads_path(current_company) %>
		| <%= link_to "New ad", company_ad_path(current_company, 'new') %>
	<% end %>
</div>
 <br>
<div class="coupons-previews">
  <h2>Coupons</h2>
	<%= render "coupons/previews", :coupons => @coupons %>
	<% if @correct_company %>
		<%= link_to "Coupon List", company_coupons_path(current_company) %>
      | <%= link_to "New coupon", company_coupon_path(current_company, 'new') %>
	<% end %>
</div>
<br>
<div class="products-previews">
  <h2>Products</h2>
	<%= render "products/previews", :products => @products %>
	<% if @correct_company %>
      <%= link_to "Product List", company_products_path(current_company) %>
		| <%= link_to "New product", company_product_path(current_company, 'new') %>
	<% end %>
</div>
