<!-- Company show page -->
<% if current_company %>
	<h1>Welcome, <%= current_company.name %>!</h1>

<% end %>
<hr>
<table style="width:100%; text-align:center">
	<tbody>
		<tr>
			<td style="width:33%">
<div class="products-previews">
  <h2>Products</h2>
	<h1><%= @products_count %></h1>
	<% if @correct_company %>
      <%= link_to "Product List", company_products_path(current_company) %>
		| <%= link_to "New Product", company_product_path(current_company, 'new') %>
	<% end %>
</div>
			</td>
			<td style="width:33%">
<div class="coupons-previews">
  <h2>Rewards</h2>
	<h1><%= @coupons_count %></h1>
	<% if @correct_company %>
		<%= link_to "Reward List", company_coupons_path(current_company) %>
      | <%= link_to "New Reward", company_coupon_path(current_company, 'new') %>
	<% end %>
</div>
			</td>
			<td style="width:33%">
<div class="ads-previews">
  <h2>Ads</h2>
	<h1><%= @ads_count %></h1>
	<% if @correct_company %>
      <%= link_to "Ad List", company_ads_path(current_company) %>
		| <%= link_to "New Ad", company_ad_path(current_company, 'new') %>
	<% end %>
</div>
			</td>
		</tr>
	</tbody>
</table>

