<%= render 'shop_header' %>
<body>

<div class='alert alert-success'>
<table>
<tr>
<td text-align="left">
Good Game! Your exclusive rewards.
</td>
<td text-align="right">
<% if user_signed_in? %>
<%= current_user.name %>

<%= link_to('Switch User', destroy_user_session_path, :method=>'delete', params[:flash]=>'user_logout')%>

<% else %>
<%= link_to 'Sign in', product_user_sign_in_url %> | 
<%= link_to 'Register', product_user_register_url %>

<% end %>
</td>
</tr>
</table>
</div>
<table style="text-align:center" align="center">
<tbody>
<tr>
<% @products.each do |p| %>
		<td>
	<%= form_for :product, :url => {:action => 'confirm_purchase'}, :html => { :multipart => true } do |f| %>
		<%= hidden_field_tag 'product_id', p.id %>
		<% if current_user %>
			<%= hidden_field_tag 'user_id', current_user.id  %>
		<% else %>
			<%= hidden_field_tag 'user_id', -1  %>
		<% end %>
			<!--<%= f.submit 'Redeem It!', :class=>'btn btn-primary' %>-->
			<a href="#" onclick="$(this).submit()"><%= image_tag p.picture.url(:small) %></a>
	<% end %>
		</td>
<% end %>
</tr>
</tbody>
</table>
</body>
</html>
